<header class="mb-5">
  <nav class="navbar navbar-expand bg-primary">
    <div class="container">
      <a class="navbar-brand" href="https://boostroom.com">
        BoostRoom
        <!-- <img class="logo" src="/assets/account-registration/img/br-logo.png"
      /> -->
      </a>

      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/accounts/register']"
            ><i class="fas fa-user-plus"></i> Register</a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['#']"
            ><i class="fas fa-user"></i> Sign in</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
