<header class="mb-5">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img class="logo" src="/assets/account-registration/img/br-logo.png"
      /></a>

      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/fetch-data']"><i class="tim-icons icon-single-02"></i> Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
