<div class="container-fluid reg-wrapper">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
      <h1 class="text-success"><i class="fas fa-check-double"></i> Registration Successfull!</h1>
      <p>But we need to confirm your e-mail first.</p>
      <p>Please check your email for confirmation link.</p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-sm-12 col-md-6 text-center">
      <!-- <i class="fas fa-envelope-open-text text-primary mail-icon"></i> -->
      <i class="fas fa-gamepad mail-icon"></i>
    </div>
  </div>
</div>
