<div class="container-fluid reg-wrapper">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
      <h1 class="text-success">
        <i class="fas fa-check-double"></i> Congratulations!
      </h1>
      <p>Your email has been confirmed.</p>
      <p>You can now proceed to <a href="#">signin </a> page.</p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-sm-12 col-md-6 text-center">
      <!-- <i class="fas fa-envelope-open-text text-primary mail-icon"></i> -->
      <i class="fas fa-gamepad mail-icon"></i>
    </div>
  </div>
</div>
