<div class="container-fluid reg-wrapper">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-12">
          <input class="tgl tgl-skewed" id="cb3" type="checkbox" />
          <label
            class="tgl-btn float-right clearfix"
            data-tg-off="Seller Account"
            data-tg-on="Client Account"
            for="cb3"
            (click)="toggleRegistration()"
          ></label>
        </div>
      </div>

      <app-register-client *ngIf="clientRegistration"></app-register-client>
      <app-register-seller *ngIf="!clientRegistration"></app-register-seller>
      <!-- <div class="card p-3"> -->
      <!-- <div class="card-body"> -->

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 row">
  <div class="info info-hover">
    <div class="icon icon-primary">
      <i class="fas fa-gamepad mail-icon"></i>
    </div>
    <h4 class="info-title">Create Your Account Today</h4>
    <p class="description">
      We have reached 5 years of successfull business! BoostRoom is one of the
      fastest growing boosting websites on the market. Our mission is to provide
      quality over quantity of service.
    </p>
  </div>
</div>
