<div class="container-fluid reg-wrapper">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <!-- <app-register-seller></app-register-seller> -->
      <app-register-client></app-register-client>
    </div>
  </div>
</div>

<div class="container mt-5 row">
  <div class="info info-hover">
    <div class="icon icon-primary">
      <i class="tim-icons icon-user-run"></i>
    </div>
    <h4 class="info-title">Create Your Account Today</h4>
    <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
  </div>
</div>

